@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Grocer Check</h1>
    <p class="lead">The shopping helper designed to save you money!</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@* pbrooker: Ajax Faculty Search *@
@*@if (Request.IsAuthenticated && User.IsInRole("user"))
{*@
    <div class="panel panel-default">
        <div class="panel-heading">Search our database!</div>
        <div class="panel-body">
            @* ajax goes here *@
            @using (Ajax.BeginForm("ItemSearch", "Home",


                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnFailure = "searchFailed",
                    LoadingElementId = "ajax-loader",
                    UpdateTargetId = "searchresults",
                }))
            {
                <div class="col-md-4">
                    <div class="form-inline">
                        <input type="text" name="q" id="q"
                               class="form-control input-sm"
                               data-autocomplete-source="@Url.Action("QuickSearch", "Home")" />
                        <input type="submit" value="Search" id="search" name="search"
                               class="btn btn-sm btn-default" />
                    </div>
                    <div style="padding-top:1em">
                        <img id="ajax-loader" style="display:none" src="~/Content/Images/ajax-loader.gif" />
                    </div>
                </div>
                <div id="searchresults" class="col-md-8"></div>
            }
        </div>
    </div>
@*}*@
    @* end pbrooker: Ajax faculty search*@

<div class="row">
    <div class="col-md-4">
        <h2>Why Grocer Check?</h2>
        <p>
            Are you wondering why Grocer Check was invented?  Click "Learn Why" to read about.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Learn Why &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>Interested and want to learn more?  Click "Learn More to read about Grocer Check." </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in Touch</h2>
        <p>Like what you see, but still have some questions?  Send us any questions you have, and we will get back to you.</p>
        <p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Get in touch &raquo;</a></p>
    </div>
</div>
@section Scripts{
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/App/GrocerScripts.js"></script>
    }